<h1>Client <%=@client.username%></h1>
<h2>Location: <%=@client.location%></h2>

<%= render "links"%>

<div class="display-box">
    <h2 class="center-text">Albums</h2>
    <%= render "parents/display_albums" %>
</div>