<% if current_photographer == @album.photographer %>
    <div class="link-buttons">
        <%= link_to "Edit Album", edit_album_path(@album), class: "button" %>
        <%= link_to "Add New Photo", new_album_photo_path(@album), class: "button" %>
        <%= link_to "Delete Album", album_path, class: "button", method: :delete %>
    </div>
<% elsif current_client == @album.client %>
    <div class="link-buttons">
        <%= link_to "Delete Album", album_path, class: "button", method: :delete %>
    </div>
<%end%>