<% if current_photographer == @album.photographer %>
    <div class="link-buttons">
        <%= link_to "Edit Photo", edit_album_photo_path(@album, @photo), class: "button" %>
        <%= link_to "Delete Photo", album_photo_path, class: "button", method: :delete %>
    </div>
<% elsif current_client == @album.client %>
    <div class="link-buttons">
        <%= link_to "Delete Photo", album_photo_path, class: "button", method: :delete %>
    </div>
<%end%>