/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 Background: #efe7e7
 Link:  #211268
 Link-hover: #361FAD
 Text: #252D26
 */

* {
  margin: 0;
}

body,
html {
  height: 100%;
}

.background {
  background-image: linear-gradient(#efe7e7 0%, #c6a3c8 100%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

.display-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.album-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.best-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
}

#container {
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}

.center-text {
  text-align: center;
}

p,
a {
  padding: 5px;
}

form p:last-of-type {
  padding-bottom: 15px;
}

#banner {
  padding: 20px;
}

#banner a {
  font-family: "Satisfy", cursive;
  font-size: 2em;
  padding: 10px;
}

#banner a:hover {
  color: #5b0b53;
}

#header {
  text-align: center;
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  border-bottom: 2px #6e4672 dotted;
  padding-bottom: 10px;
}

#user {
  padding-top: 5px;
}

body {
  font-family: "Lato", sans-serif;
  color: #1a191a;
}

a {
  color: #5b0b53;
  text-decoration: none;
}

a:hover {
  color: #882a7f;
}

nav {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

nav a,
.button {
  min-width: 100px;
  background-color: #dcc0dd;
  padding: 10px;
  box-shadow: 5px 5px 5px #1a191a;
}

nav a:hover,
.button:hover {
  background-color: #d1afd4;
}

.link-buttons * {
  display: inline-block;
  margin: 10px;
}

nav > a + a {
  border-left: 1px solid #5b0b53;
}

.field_with_errors input {
  border: 2px red dashed;
  font-weight: bold;
  display: inline-block;
}

.full-img {
  object-fit: fill;
  height: 100%;
  width: 500px;
}

.thumbnail-img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  padding-top: 20px;
}

.caption {
  text-align: center;
  padding-top: 0;
}

#best-header {
  text-align: center;
}

.best-category {
  padding-bottom: 0;
}

.images {
  text-align: center;
}

.form-error,
.error-message {
  background-color: #dcc0dd;
}

textarea#album_description,
textarea#photo_description {
  width: 30em;
  height: 4em;
}

.content {
  padding-top: 10px;
}

input#photo_image {
  padding-bottom: 10px;
}

input[type="submit"] {
  font-family: "Lato", sans-serif;
  color: #5b0b53;
  padding: 5px;
  cursor: pointer;
}

label {
  display: block;
  padding-bottom: 5px;
}

label[for="user_photographer_account"],
label[for="user_client_account"] {
  display: inline;
}

#welcome-form {
  display: flex;
}

#start-parent {
  text-align: center;
  padding-top: 20px;
}

#start-form {
  border: 5px double #efe7e7;
  display: inline-block;
  text-align: left;
  min-width: 100px;
  padding: 20px;
}

#start-form h2,
#start-form h3,
#start-form p {
  padding-bottom: 10px;
}

#start-form h2 {
  text-align: center;
}

ul {
  list-style-type: none;
}
