/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 Background: #efe7e7
 Link:  #211268
 Link-hover: #361FAD
 Text: #252D26
 */

* {
  margin: 0;
}

body,
html {
  height: 100%;
}

.background {
  background-image: linear-gradient(#efe7e7 0%, #c6a3c8 100%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

.album-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#container {
  width: 65%;
  margin: auto;
  padding-bottom: 20px;
}

p,
a {
  padding: 5px;
}

h1 {
  padding: 10px;
}

#banner {
  padding: 20px;
}

#banner a {
  font-family: "Satisfy", cursive;
  font-size: 2em;
  color: #7e1173;
}

#banner a:hover {
  color: #5b0b53;
}

#header {
  text-align: center;
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  border-bottom: 2px #6e4672 dotted;
  padding-bottom: 10px;
}

body {
  font-family: "Lato", sans-serif;
  color: #1a191a;
}

a {
  color: #211268;
  text-decoration: none;
}

a:hover {
  color: #361fad;
  color: #360731;
}

.field_with_errors {
  color: red;
  font-weight: bold;
  display: inline-block;
}

.full-img {
  object-fit: fill;
  height: 100%;
  width: 500px;
}

.thumbnail-img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  padding-top: 20px;
}

.caption {
  text-align: center;
  padding-top: 0;
}

textarea#album_description,
textarea#photo_description {
  width: 30em;
  height: 4em;
}

input#photo_image {
  padding-bottom: 10px;
}

#photo-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
}
