/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 Background: #efe7e7
 Link:  #211268
 Link-hover: #361FAD
 Text: #252D26
 */

* {
  margin: 0;
}

body,
html {
  height: 100%;
}

.background {
  background-image: linear-gradient(
    90deg,
    #9d6c6c 0%,
    hsl(0, 20%, 92%) 15%,
    hsl(0, 20%, 92%) 85%,
    #9d6c6c 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

#container {
  width: 70%;
  margin: auto;
}

p {
  padding: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  size: 50;
}

body {
  color: #252d26;
}

a {
  color: #211268;
  text-decoration: none;
}

a:hover {
  color: #361fad;
}

.field_with_errors {
  color: red;
  font-weight: bold;
  display: inline-block;
}

.full-img {
  object-fit: fill;
  height: 100%;
  width: 500px;
}
